<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1><%= item.title %></h1>

      <a href="/lists/<%= item.listId %>/items/<%= item.id %>/edit" class="btn btn-warning">Edit</a>


      <form style="display:initial" action="/lists/<%= item.listId %>/items/<%= item.id %>/destroy" method="post">
       <button type="submit" class="btn btn-danger">Delete</button>
     </form>

      <p><%= item.description %></p>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
