<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">


      <div class="container">
        <div class="jumbotron">
      <h1><%= list.title %></h1>


      <div id="content">
       <a href="/lists/<%= list.id %>/edit" class="btn btn-warning">Edit List Name</a>

        <form style="display:initial" action="/lists/<%= list.id %>/destroy" method="post">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>

        <% if(currentUser) { %>
          <a href="/lists/<%= list.id %>/items/new" class="btn btn-success">Add Item</a>
        <% } %>

      <p><%= list.description %></p>

      <hr>

      <h1>Items</h1>

   <ul class="list-group">
     <% list.items.forEach((item) => { %>
       <li class="list-group-item">
         <a href="/lists/<%= list.id %>/items/<%= item.id %>"> <%= item.title %> </a>
       </li>
     <% }) %>
   </ul>
 </div>
</div>
</div>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
